.BackGroundImg {
    width: 100vw;
    height: 600px;
    background: url('../../public/background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    .wrapper {
        background-color: rgba(5, 5, 5, 0.594);
        width: 55%;
        height: 40%;
        margin: 0 auto;
        border-radius: 20px;
        padding: 2vw;
        text-align: center;
        color: rgb(255, 255, 255);
        @media (max-width: 700px) {
            width: 80%;
            height: 50%;
          }
      }
}
.About{
  background-color: rgb(235, 233, 233);
  width: 100vw;
  min-height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 650px) {
    flex-direction: column;
    padding: 20px;
  }
  .MyPhoto{
    margin: 0 50px;
    @media (max-width: 650px) {
      margin: 0;
      margin-bottom: 20px;
    }
  }
  .AboutMeText{
    color: rgb(115, 115, 116);
    width: 600px;
    font-size: medium;
    line-height: 28px;
    padding: 3vw;
    @media (max-width: 650px) {
      width: 100%;
      text-align: center;
    }
    .AboutOther{
      display: flex;
      justify-content: start;
      font-weight: 300;
      font-size: 15px;
      @media (max-width: 650px) {
        width: 100%;
        text-align: center;
      }
    }
  }
}