.BackGroundImg {
    width: 100vw;
    height: 600px;
    background: url('../../public/background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    .wrapper {
        background-color: rgba(5, 5, 5, 0.594);
        width: 55%;
        height: 40%;
        margin: 0 auto;
        // border: 2px solid rgba(255, 255, 255, 2);
        border-radius: 20px;
        padding: 2vw;
        text-align: center;
        color: rgb(255, 255, 255);
        @media (max-width: 700px) {
            width: 80%;
            height: 50%;
          }
      }
}
.About{
  background-color: rgb(253, 253, 253);
  width: 100vw;
  height: 500px;
  display: flex;
  align-items: center;
}