.Navbar {
    width: 100vw;
    height: 7vh;
    background-color: rgba(26, 25, 25, 0.339);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:99;
    .logo {
      // cursor: pointer;
      margin-left: 2.5vw;
    }
    .navigation {
      display: flex;
      justify-content: center;
      align-items: center;
      .about, .resume, .protflio {
        color: white;
        font-size: larger;
        cursor: pointer;
        margin-right: 3vw;
        text-decoration: none;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -6px;
          width: 100%;
          height: 3px;
          background: #fff;
          border-radius: 5px;
          transform: scaleX(0);
          transition: transform 0.4s;
          transform-origin: left;
        }
        &:hover {
          &::after {
            transform: scaleX(1);
          }
        }
      }
    }
    position: fixed;
    top: 0;
    left: 0;
  }
  